@tailwind base;
@tailwind components;
@tailwind utilities;

.navListDesign {
    @apply transition-all cursor-pointer text-white flex items-center text-4xl
}

.MenuIcon {
    @apply pr-2 text-2xl sm:text-6xl
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}